<div id="dashboard-content" class="yui3-g">
  <!-- Batches -->
  <% if session[:permissions].include?('batches') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('batches-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), batches_path %>
    <div class="module-content">
      <h2><%= link_to 'Batches', batches_path %></h2>
      <p>Control y gestión de batches</p>
    </div>
  </div>
  <% end %>

  <!-- Orders -->
  <% if session[:permissions].include?('orders') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('orden-de-produccion-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), orders_path %>
    <div class="module-content">
      <h2><%= link_to 'Órdenes de Producción', orders_path %></h2>
      <p>Gestión de las órdenes de producción</p>
    </div>
  </div>
  <% end %>

  <!-- Recipes -->
  <% if session[:permissions].include?('recipes') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('recetas-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), recipes_path %>
    <div class="module-content">
      <h2><%= link_to 'Recetas', recipes_path %></h2>
      <p>Manejo de recetas de producción</p>
    </div>
  </div>
  <% end %>

  <!-- Medicament recipes -->
  <% if session[:permissions].include?('medicament_recipes') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('medicaments-recipes-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), medicament_recipes_path %>
    <div class="module-content">
      <h2><%= link_to 'Recetas de medicamentos', medicament_recipes_path %></h2>
      <p>Manejo de recetas de medicamentos</p>
    </div>
  </div>
  <% end %>

  <!-- Scales and hoppers -->
  <% if session[:permissions].include?('scales') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('tolvas-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), scales_path %>
    <% if @hoppers_transactions_enabled and @critical_hoppers > 0 %>
      <%= link_to @critical_hoppers, scales_path, :class => 'notify' %>
    <% end %>
    <div class="module-content">
      <h2><%= link_to 'Balanzas y tolvas', scales_path %></h2>
      <% if @hoppers_transactions_enabled %>
        <% if @critical_hoppers == 1 %>
          <p class="palert"><%= @critical_hoppers %> tolva en nivel crítico</p>
        <% elsif @critical_hoppers > 1 %>
          <p class="palert"><%= @critical_hoppers %> tolvas en nivel crítico</p>
        <% else %>
          <p>Gestión de balanzas y tolvas</p>
        <% end %>
      <% else %>
        <p>Gestión de balanzas y tolvas</p>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- Ingredients -->
  <% if session[:permissions].include?('ingredients') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('ingredients-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), ingredients_path %>
    <% if @transactions_enabled and @critical_ingredients > 0 %>
      <%= link_to @critical_ingredients, ingredients_path, :class => 'notify' %>
    <% end %>
    <div class="module-content">
      <h2><%= link_to 'Materia Prima', ingredients_path %></h2>
      <% if @transactions_enabled %>
        <% if @critical_ingredients > 0 %>
          <p class="palert"><%= @critical_ingredients %> materia prima en nivel crítico</p>
        <% else %>
          <p>Manejo de los ingredientes</p>
        <% end %>
      <% else %>
        <p>Manejo de los ingredientes</p>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- Products -->
  <% if session[:permissions].include?('products') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('products-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), products_path %>
    <div class="module-content">
      <h2><%= link_to 'Producto Terminado', products_path %></h2>
      <p>Gestión de productos terminados</p>
    </div>
  </div>
  <% end %>

  <!-- Ingredient Lots -->
  <% if session[:permissions].include?('lots') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('ingredients-lot-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), lots_path %>
    <div class="module-content">
      <h2><%= link_to 'Lotes de Materia Prima', lots_path %></h2>
      <p>Gestión de lotes de materia prima</p>
    </div>
  </div>
  <% end %>

  <!-- Product Lots -->
  <% if session[:permissions].include?('product_lots') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('product-lots-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), product_lots_path %>
    <div class="module-content">
      <h2><%= link_to 'Lotes de P. Terminado', product_lots_path %></h2>
      <p>Registro de lotes de producto terminado</p>
    </div>
  </div>
  <% end %>

  <!-- Transactions -->
  <% if session[:permissions].include?('transactions') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('transactions-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), transactions_path %>
    <div class="module-content">
      <h2><%= link_to 'Transacciones', transactions_path %></h2>
      <p>Gestión de movimientos de inventario</p>
    </div>
  </div>
  <% end %>

  <!-- Laboratory -->
  <% if session[:permissions].include?('lot_parameter_lists') or session[:permissions].include?('product_lot_parameter_lists') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('laboratory.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), laboratory_path %>
    <div class="module-content">
      <h2><%= link_to 'Laboratorio', laboratory_path %></h2>
      <p>Características de materia prima y producto terminado</p>
    </div>
  </div>
  <% end %>

  <!-- Clients -->
  <% if session[:permissions].include?('clients') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('clientes-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), clients_path %>
    <div class="module-content">
      <h2><%= link_to 'Clientes', clients_path %></h2>
      <p>Manejo de clientes</p>
    </div>
  </div>
  <% end %>

  <!-- Factories -->
  <% if session[:permissions].include?('factories') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('factories-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), factories_path %>
    <div class="module-content">
      <h2><%= link_to 'Maquilas', factories_path %></h2>
      <p>Manejo de maquilas</p>
    </div>
  </div>
  <% end %>

  <!-- Schedules -->
  <% if session[:permissions].include?('schedules') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('schedules-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), schedules_path %>
    <div class="module-content">
      <h2><%= link_to 'Turnos', schedules_path %></h2>
      <p>Gestión de los turnos en la planta</p>
    </div>
  </div>
  <% end %>

  <!-- Users -->
  <% if session[:permissions].include?('users') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('usuarios-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), users_path %>
    <div class="module-content">
      <h2><%= link_to 'Usuarios', users_path %></h2>
      <p>Manejo de usuarios y permisología</p>
    </div>
  </div>
  <% end %>

  <!-- Roles -->
  <% if session[:permissions].include?('roles') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('roles-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), roles_path %>
    <div class="module-content">
      <h2><%= link_to 'Roles', roles_path %></h2>
      <p>Manejo de roles para usuarios</p>
    </div>
  </div>
  <% end %>

  <!-- Reports -->
  <% if session[:permissions].include?('reports') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('reportes-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), reports_path %>
    <div class="module-content">
      <h2><%= link_to 'Reportes', reports_path %></h2>
      <p>Visualización de reportes</p>
    </div>
  </div>
  <% end %>

  <!-- Drivers -->
  <% if session[:permissions].include?('drivers') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('drivers-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), drivers_path %>
    <div class="module-content">
      <h2><%= link_to 'Choferes', drivers_path %></h2>
      <p>Gestion de choferes</p>
    </div>
  </div>
  <% end %>

  <!-- Carriers -->
  <% if session[:permissions].include?('carriers') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('carriers-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), carriers_path %>
    <div class="module-content">
      <h2><%= link_to 'Empresas de transporte', carriers_path %></h2>
      <p>Gestion de empresas de transporte</p>
    </div>
  </div>
  <% end %>

  <!-- Trucks -->
  <% if session[:permissions].include?('trucks') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('trucks-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), trucks_path %>
    <div class="module-content">
      <h2><%= link_to 'Camiones', trucks_path %></h2>
      <p>Gestion de camiones</p>
    </div>
  </div>
  <% end %>

  <!-- Tickets -->
  <% if session[:permissions].include?('tickets') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('tickets-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), tickets_path %>
    <div class="module-content">
      <h2><%= link_to 'Tickets', tickets_path %></h2>
      <p>Gestion de tickets</p>
    </div>
  </div>
  <% end %>

  <!-- Settings -->
  <% if session[:permissions].include?('settings') %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('settings-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), settings_path %>
    <div class="module-content">
      <h2><%= link_to 'Configuración', settings_path %></h2>
      <p>Configuración general del sistema</p>
    </div>
  </div>
  <% end %>
</div>
