<%= form_tag adjust_product_lot_path, :method => 'put', :id=>'product_lot_adjust_form' do %>
  <label for="code" class="small">Lote:</label>
  <div class="field"><%=h @product_lot.to_collection_select %></div>
  <label for="stock" class="small">Existencia:</label>
  <div class="field"><%=h @product_lot.stock %></div>
  <label for="amount" class="small">Nueva existencia:</label>
  <div class="field"><%= text_field_tag :amount, params[:amount], :size=>'15' %> <span>*</span></div>
  <label for="comment" class="small">Comentario:</label>
  <div class="field"><%= text_field_tag :comment, params[:comment], :size=>'50' %></div>
  <div class="clearfix"></div>
<% end %>
