<% if @scales.length > 0 %>
<div id="scales-content" class="yui3-g">
  <% @scales.each do |s| %>
  <div class="module yui3-u-1-2">
    <%= link_to image_tag('scale-icon.png', :alt=>'icon', :class=>'icon', :width=>'64', :height=>'64'), scale_path(s) %>
    <div class="module-content">
      <h2><%= link_to s.name, scale_path(s) %></h2>
      <p><%= render_action_show_hoppers(scale_path(s)) %></p>
      <p><%= render_action_edit(edit_scale_path(s)) %></p>
      <p><%= render_action_delete(scale_path(s), "Desea borrar la balanza '#{s.name}'?") %></p>
    </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>No se han creado balanzas</p>
<% end %>
