<% title "Tolvas de #{@scale.name}" %>
<% i = 0 %>
<% if @hoppers.any? %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Codigo<span class="order_arrow"></span></th>
        <th>Nombre<span class="order_arrow"></span></th>
        <th>Ingrediente (Lote)<span class="order_arrow"></span></th>
        <% if @hoppers_transactions_enabled and not @scale.not_weighed %>
          <th>Existencia<span class="order_arrow"></span></th>
        <% end %>
        <th>Principal</th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @hoppers.each do |obj| %>
      <% class_row, i = alternate_row_class(i) %>
      <% ingredient = "#{obj[:lot].lot.ingredient.code} - #{obj[:lot].lot.ingredient.name} (L: #{obj[:lot].lot.code})" %>
      <% class_row = "red_" + class_row if obj[:stock_below_minimum] if @hoppers_transactions_enabled %>
      <tr class="<%= class_row %>">
        <td class="center"><%=h obj[:code].nil? ? "-" : obj[:code] %></td>
        <td class="center"><%=h obj[:name] %></td>
        <td><%=h ingredient %></td>
        <% if @hoppers_transactions_enabled and not @scale.not_weighed %>
          <td class="right"><%=h obj[:stock_string] %></td>
        <% end %>
        <td class="center">
          <%= check_box_tag :main, 
                            set_as_main_hopper_path(@scale, obj[:hopper_id]),
                            obj[:main],
                            :disabled => obj[:main],
                            :onclick => "window.location = this.value;" %>
        </td>
        <td class="left">
          <%= render_action_change_hopper_lot(change_scale_hopper_path(@scale.id, obj[:hopper_id])) %><br />
          <% if @show_hopper_factory_lots %>
          <%= render_action_factory_lots(change_factory_lots_scale_hopper_path(@scale.id, obj[:hopper_id])) %><br />
          <% end %>
          <% if @hoppers_transactions_enabled and not @scale.not_weighed %>
            <%= render_action_fill_hopper(fill_scale_hopper_path(@scale.id, obj[:hopper_id])) %>
            <%= render_action_adjust(adjust_scale_hopper_path(@scale.id, obj[:hopper_id])) %> <br />
          <% end %>
          <%= render_action_edit(edit_scale_hopper_path(@scale.id, obj[:hopper_id])) %>
          <%= render_action_delete(scale_hopper_path(@scale.id, obj[:hopper_id]), "Desea borrar la tolva '#{obj[:number]}'?") %><br />
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <!-- = show_pagination @hoppers %-->
  </div>
</div>
<% else %>
<p>No hay tolvas asociadas a esta balanza</p>
<% end %>