<%= render_error_messages(f.error_messages) %>
<label for="code" class="small">Código:</label>
<div class="field"><%= f.text_field :code, :size=>'20' %> <span>*</span></div>
<label for="name" class="small">Nombre:</label>
<div class="field"><%= f.text_field :name, :size=>'20' %> <span>*</span></div>
<label for="version" class="small">Versión:</label>
<div class="field"><%= f.text_field :version, :size=>'10' %></div>
<label for="product_id" class="small">Producto:</label>
<div class="field"><%= f.collection_select :product_id, @products, :id, :to_collection_select, {include_blank: "Seleccione un producto"}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>
<label for="type_id" class="small">Tipo:</label>
<div class="field"><%= f.collection_select :type_id, @types, :first, :second, {include_blank: false}, class: 'chosen-select chzn-field-normal' %></div>
<label for="comment" class="small">Comentario:</label>
<div class="field"><%= f.text_field :comment, :size=>'30' %></div>
<% if action == "edit" %>
  <label for="active" class="small">En uso:</label>
  <div class="field"><%= f.check_box :in_use %></div>
  <label for="active" class="small">Activa:</label>
  <div class="field"><%= f.check_box :active %></div>
  <% if @internal_consumption %>
    <label for="active" class="small">Consumo interno:</label>
    <div class="field"><%= f.check_box :internal_consumption %></div>
  <% end %>
<% end %>
<div class="clearfix"></div><br/>
<span class="required">* Campos obligatorios</span>
