<% title "Importar recetas" %>
<%= javascript_tag "$(function(){$('#data_progress').hide();});" %>
<%= form_for :recipe, :url=>recipe_upload_path, :html=>{:multipart=>true, :id=>'recipe_upload_form'} do |f| %>
  <% if @recipe and @recipe.errors.any? %>
    <%= f.error_messages %><br/>
  <% end %>
  <label for="datefile">Por favor, seleccione el archivo de recetas que desea importar</label>: <br/><br/>
  <%= f.file_field :datafile %><br/><br/>
  <%= f.check_box :overwrite, :checked=>true %> &nbsp; <label for="overwrite">Sobreescribir recetas existentes</label>
  <br/>
<% end %>
<div id="data_progress">
  <p>Se está importando la receta, por favor espere...</p><br/>
  <%= image_tag('ajax-loader.gif') %>
</div>