<% title "Recetas" %>
<% i = 0 %>
<div id="searchform">
<%= form_tag recipes_path, :method => 'get' do %>
  <label for="code">Receta:</label>
  <%= select_tag(:code, options_from_collection_for_select(@all_recipes, :code, :to_collection_select_code, params[:code]), :include_blank => true, :class=>'chosen-select chzn-field-normal chzn-small') %>
  <%= submit_tag "Filtrar", :name => nil %>
  <%= link_to "Limpiar", recipes_path %>
<% end %>
</div>
<% if @recipes.any? %>
<% unless @last_imported_recipe.nil? %>
<p><strong>Ultimo archivo importado:</strong> <%= @last_imported_recipe.name %> (<%= @last_imported_recipe.imported_recipes %> de <%= @last_imported_recipe.total_recipes %>)</p><br />
<% end %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Código<span class="order_arrow"></span></th>
        <th>Nombre<span class="order_arrow"></span></th>
        <th>Versión<span class="order_arrow"></span></th>
        <th>Comentario<span class="order_arrow"></span></th>
        <th>Total Kg.<span class="order_arrow"></span></th>
        <th>En uso<span class="order_arrow"></span></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @recipes.each do |r| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td class="center"><%=h r.code %></td>
        <td><%=h r.name %></td>
        <td class="center"><%=h r.version %></td>
        <td class="center"><%=h r.comment.nil? ? "" : r.comment[0..10] %></td>
        <td class="right"><%=h r.get_total %></td>
        <td class="center"><%= r.in_use ? "Sí" : "No" %></td>
        <td class="center">
          <%= render_action_show(recipe_path(r)) %><br />
          <%= render_action_clone(clone_recipe_path(r), "Desea clonar la receta '#{r.name}'?") %><br />
          <%= render_action_edit(edit_recipe_path(r)) %><br />
          <% unless r.order.any? %>
          <%= render_action_delete(recipe_path(r), "Desea borrar la receta '#{r.name}'?") %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @recipes %>
  </div>
</div>
<% else %>
<p>No hay recetas registradas</p>
<% end %>
