<% title "Detalle de receta" %>
<%= form_for :recipe do |f| %>
<label for="code" class="small">Código:</label>
<div class="field"><%=h @recipe.code %></div>
<label for="name" class="small">Nombre:</label>
<div class="field"><%=h @recipe.name %></div>
<label for="version" class="small">Versión:</label>
<div class="field"><%=h @recipe.version %></div>

<label for="date" class="small">Fecha de creación:</label>
<div class="field"><%=h @recipe.created_at.strftime '%d-%m-%Y %H:%M' %></div>

<label for="product" class="small">Producto:</label>
<div class="field"><%=h @recipe.product.name %></div>
<label for="type_id" class="small">Tipo:</label>
<div class="field"><%=h @types[@recipe.type_id] %></div>
<label for="total" class="small">Total:</label>
<div class="field"><%=h @total %> Kg</div>
<label for="comment" class="small">Comentario:</label>
<div class="field"><%=h @recipe.comment %></div>
<label for="active" class="small">En uso:</label>
<div class="field"><%=h @recipe.in_use ? "Sí" : "No"%></div>
<label for="active" class="small">Activa:</label>
<div class="field"><%=h @recipe.active ? "Sí" : "No"%></div>
<% if @internal_consumption %>
<label for="active" class="small">Consumo interno:</label>
<div class="field"><%=h @recipe.internal_consumption ? "Sí" : "No"%></div>
<% end %>
<label class="print"><%= render_action_print(print_recipe_path) %></label>
<div class="clearfix"></div>
<% end %>
<h5>Ingredientes</h5>
<%= render :partial=>'show_grid', :locals =>{:recipe => @recipe} %>
<% if @parameter_list_enabled %>
<% if @parameter_list %>
  <h5>Parámetros</h5>
  <%= render :partial=>'show_parameters_grid', :locals =>{:parameter_list => @parameter_list} %>
<% end %>
<% end %>