<% title "Usuarios" %>
<% i = 0 %>

<div id="searchform">
<%= form_tag users_path, :method => 'get' do %>
  <label for="name">Usuario:</label>

  <%= select_tag(:user_id, options_from_collection_for_select(@users, :id, :to_collection_select, params[:user_id]), include_blank: true, class: 'chosen-select chzn-field-normal chzn-small') %>

  <%= submit_tag "Filtrar" %>
  <%= link_to "Limpiar", users_path %>
<% end %>
</div>

<% if @users.any? %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre<span class="order_arrow"></span></th>
        <th>Rol<span class="order_arrow"></span></th>
        <th class="actions_small">Acciones</th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td><%=h u.login %></td>
        <td><%=h u.name %></td>
        <td><%=h u.role.name %></td>
        <td>
          <%= render_action_edit(edit_user_path(u)) %>
          <% if session[:user_id] != u.id %>
            <%= render_action_delete(user_path(u), "Desea borrar el usuario '#{u.name}'?") %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @users %>
  </div>
</div>
<% else %>
<p>No hay usuarios registrados</p>
<% end %>
