<% title "Maquilas" %>
<% i = 0 %>
<% if @factories.length > 0 %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Código<span class="order_arrow"></th>
        <th>RIF<span class="order_arrow"></th>
        <th>Nombre<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @factories.each do |f| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td><%=h f.code %></td>
        <td><%=h f.ci_rif %></td>
        <td><%=h f.name %></td>
        <td>
          <%= render_action_edit(edit_factory_path(f)) %>
          <%= render_action_delete(factory_path(f), "Desea borrar la fábrica '#{f.name}'?") %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @factories %>
  </div>
</div>
<% else %>
<p>No hay fábricas registradas</p>
<% end %>
