<% title "Clientes" %>
<% i = 0 %>

<div id="searchform">
<%= form_tag clients_path, :method => 'get' do %>
  <label for="name">Cliente:</label>

  <%= select_tag(:client_id, options_from_collection_for_select(@clients, :id, :to_collection_select, params[:client_id]), include_blank: true, class: 'chosen-select chzn-field-normal chzn-small') %>

  <%= submit_tag "Filtrar" %>
  <%= link_to "Limpiar", clients_path %>
<% end %>
</div>

<% if @clients.any? %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Código<span class="order_arrow"></th>
        <th>CI/RIF<span class="order_arrow"></th>
        <th>Nombre<span class="order_arrow"></th>
        <th>Email<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @clients.each do |c| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td><%=h c.code %></td>
        <td><%=h c.ci_rif %></td>
        <td><%=h c.name %></td>
        <td><%=h c.email %></td>
        <td>
          <%= render_action_edit(edit_client_path(c)) %>
          <%= render_action_delete(client_path(c), "Desea borrar el cliente '#{c.name}'?") %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @clients %>
  </div>
</div>
<% else %>
<p>No hay usuarios registrados</p>
<% end %>
