<%= javascript_include_tag "dynamic_clients" %>
<%= render_error_messages(f.error_messages) %>
<label for="code" class="small">Código:</label>
<div class="field"><%= @order_code %> </div>
<label for="recipe_id" class="small">Receta:</label>
<div class="field"><%= f.collection_select :recipe_id, @recipes, :id, :to_collection_select, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<label for="medicament_recipe_id" class="small">Medicamentos:</label>
<div class="field"><%= f.collection_select :medicament_recipe_id, @medicament_recipes, :id, :code, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %></div>
<label class="small"></label>
<div class="field">
  <%= radio_button_tag 'client_type', 'client' %> Cliente
  <%= radio_button_tag 'client_type', 'factory' %> Fábrica
</div>
<label for="client_id" class="small"></label>
<div class="field"><%= f.collection_select :client_id, @clients, :id, :name, {:include_blank => true} %> <span>*</span></div>
<% if @user.admin? %>
<label for="user_id" class="small">Usuario:</label>
<div class="field"><%= f.collection_select :user_id, @users, :id, :login, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<% else %>
<%= f.hidden_field :user_id, :size=>'10' %>
<% end %>
<label for="product_lot_id" class="small">Lote Prod. Terminado:</label>
<div class="field"><%= f.collection_select :product_lot_id, @product_lots, :id, :to_collection_select, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %></div>
<label for="prog_batchs" class="small">Batch Prog.:</label>
<div class="field"><%= f.text_field :prog_batches, :size=>'10' %> <span>*</span></div>
<% if action != 'new' %>
  <label for="real_production" class="small">Producción Real:</label>
  <% if @order.real_production.blank? or @can_edit_real_production %>
    <div class="field"><%= f.text_field :real_production, :size=>'20' %></div>
  <% else %>
    <div class="field"><%= @order.real_production %></div>
  <% end %>
<% end %>
<label for="comment" class="small">Comentario:</label>
<div class="field"><%= f.text_field :comment, :size=>'50' %></div>
<% if action != 'new' %>
<label for="completed" class="small">Completada:</label>
<div class="field"><%= f.check_box :completed %></div>
<% end %>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
