<%= label_tag(:code, "Código") %>
<%= text_field_tag :code, params[:code] %>
<label for="state_id" class="small">Estado:</label>
<%= select_tag(:state_id, options_for_select(@states.collect { |k, v| [v[:name], k] }), include_blank: true, class: 'chosen-select chzn-field-normal chzn-small') %><br /><br />
<%= label_tag(:recipe_code, "Receta") %>
<%= select_tag(:recipe_code, options_from_collection_for_select(@recipes, :code, :to_collection_select_code, params[:recipe_code]), :include_blank => true, :class=>'chosen-select chzn-field-normal chzn-small') %>
<%= label_tag(:client_id, "Cliente") %>
<%= select_tag('client_id', options_from_collection_for_select(@clients, :id, :to_collection_select, params[:client_id]), :include_blank => true, :class=>'chosen-select chzn-field-normal chzn-small') %>
<br /><br />
<%= label_tag("Fecha") %>
<%= label_tag(:start_date, "Desde:") %>
<%= text_field_tag :start_date, params[:start_date], class: 'datepicker' %>
<%= label_tag(:end_date, "Hasta:") %>
<%= text_field_tag :end_date, params[:end_date], class: 'datepicker' %>
<br /><br />
<%= submit_tag "Filtrar", :name => nil %>
<%= link_to "Limpiar campos", orders_path %>
