<%= render_error_messages(f.error_messages) %>
<label for="ticket_type_id" class="small">Tipo de ticket:</label>
<div class="field"><%=h @ticket.ticket_type.description %></div>
<label for="driver_id" class="small">Chofer:</label>
<div class="field"><%=h @ticket.driver.name %></div>
<label for="truck_id" class="small">Camión:</label>
<div class="field"><%=h "#{@ticket.truck.license_plate} - #{@ticket.truck.carrier.name}" %></div>
<label for="incoming_date" class="small">Fecha entrada:</label>
<div class="field"><%=h @ticket.incoming_date.strftime("%d/%m/%Y %H:%M:%S") %></div>
<label for="outgoing_date" class="small">Fecha salida:</label>
<% if @ticket.outgoing_date.nil? %>
<div class="field"><%= f.datetime_select :outgoing_date, :include_seconds => true, :default=>DateTime.now, :size=>'10' %> <span>*</span></div>
<% else %>
<div class="field"><%=h @ticket.outgoing_date.strftime("%d/%m/%Y %H:%M:%S") %></div>
<% end %>
<label for="incoming_weight" class="small">Peso de entrada:</label>
<div class="field"><%= f.text_field :incoming_weight, :size=>'20' %><span>*</span></div>
<label for="incoming_weight" class="small">Peso de salida:</label>
<div class="field"><%= f.text_field :outgoing_weight, :size=>'20' %><span>*</span></div>
<% if @ticket.ticket_type_id == 1 %>
  <label for="provider_weight" class="small">Peso Proveedor:</label>
  <div class="field"><%= f.text_field :provider_weight, :size=>'20' %><span>*</span></div>
  <label for="provider_document_number" class="small">N# documento SADA:</label>
  <div class="field"><%= f.text_field :provider_document_number, :size=>'20' %><span>*</span></div>
<% end %>
<label for="comment" class="small">Comentario;</label>
<div class="field"><%= f.text_area :comment, :size=>'60x10' %></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
<h5>Transacciones</h5>