<tr>
  <td>
    <%= f.radio_button :content_type, "1", checked: true, class: 'content_type_radio_button' %> Materia Prima
    <%= f.radio_button :content_type, "2", class: 'content_type_radio_button' %> Producto terminado
    <br />
    <%= f.collection_select :content_id, @lots, :id, :to_collection_select, {include_blank: true}, class: 'chosen-select chzn-field-normal' %></td>
  <td class="center"><%= f.check_box :sack %></td>
  <td class="center"><%= f.text_field :sacks, size: 5 %></td>
  <td class="center"><%= f.text_field :sack_weight, size: 5 %></td>
  <td class="center"><%= f.text_field :amount, size: 10 %></td>
  <td class="center">
    <%= f.hidden_field :_destroy %>
    <%= link_to_function image_tag('action-delete.png', :alt=>'Eliminar') + " Eliminar", "remove_fields(this)" %>
  </td>
</tr>