<% title "Entrada ticket" %>
<%= form_for @ticket, :url=>update_entry_ticket_path(@ticket), :html=>{:method=>:put, :id=>'ticket_entry_form'} do |f| %> 
<%= render_error_messages(f.error_messages) %>

<label for="ticket_type_id" class="small">Tipo de ticket:</label>
<div class="field"><%=h @ticket.ticket_type.description %></div>

<% if is_mango_feature_available("sap_romano")%>
  <div id= "orders">
  <% if !@ticket.id_order.nil?%>
    <label id = "order_type" class="small"><%=@label%>:</label>
    <div class="field"><%=h @order.code %></div>
  <% end %>
  </div>
<% end %>

<label for="client_id" class="small">Cliente/Maquila:</label>
<div class="field"><%=h @ticket.client.name %></div>


<label for="address" class="small">Direccion:</label>
<div class="field"><%=h @ticket.address %></div>

<label for="driver_id" class="small">Chofer:</label>
<div class="field"><%=h @ticket.driver.name%> - CI: <%=@ticket.driver.ci%></div>

<label for="truck_id" class="small">Camión:</label>
<div class="field"><%=h @ticket.truck.license_plate%> - <%=@ticket.truck.carrier.name%></div>

<% if @ticket.ticket_type_id == 1 %>
  <label for="provider_weight" class="small">Peso Proveedor:</label>
  <div class="field"><%=h @ticket.provider_weight %></div>
  <label for="provider_document_number" class="small">N# documento:</label>
  <div class="field"><%=h @ticket.provider_document_number %></div>
<% end %>

<label for="comment" class="small">Comentario:</label>
<div class="field"><%=h @ticket.comment %></div>

<label for="outgoing_weight" class="small">Peso de entrada:</label>
<div id = "outweight" class="field"><%= f.text_field :incoming_weight, :size=>'20', class: 'chzn-field-big'%><span>*</span>
<%= submit_tag "Capturar", {:type => "button", :id => "boton_capturar"} %><br/>

<% if @granted_manual %>
  <%= f.check_box :manual_incoming, :checked=>false %> &nbsp;
  <label for="group">Pesaje Manual</label>
<% end %>
</div>

<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>

<h5>Transacciones</h5>
<% i = 0 %>
<div id="lot_parameters_grid">
  <table id="tabledata">
    <thead>
      <tr>
        <th>Lote<span class="order_arrow"></span></th>
        <th>Sacos<span class="order_arrow"></span></th>
        <th>Num. Sacos<span class="order_arrow"></span></th>
        <th>Kg/Saco<span class="order_arrow"></span></th>
        <th>Cantidad<span class="order_arrow"></span></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :transactions do |builder| %>
        <% class_row, i = alternate_row_class(i) %>
        <% t = builder.object %>
        <tr class="<%= class_row %>">
          <td>
            <% if t.new_record? %>
              <%= builder.radio_button :content_type, "1" %> Materia Prima <%= builder.radio_button :content_type, "2" %> Producto terminado
              <br />
              <%= builder.collection_select :content_id, t.content_type == 1 ? @lots : @product_lots, :id, :to_collection_select, {}, class: 'chosen-select chzn-field-normal' %>
            <% else %>
              <%= builder.hidden_field :content_id %><%= t.get_lot.to_collection_select %>
            <% end %>
          </td>
          <td class="center"><%= builder.check_box :sack, class: 'sack_checkbox' %></td>
          <td class="center"><%= builder.text_field :sacks, size: 5, class: 'sacks_field' %></td>
          <td class="center"><%= builder.text_field :sack_weight, size: 5, class: 'sack_weight_field' %></td>
          <td class="center"><%= builder.text_field :amount, size: 10, class: 'amount_field' %></td>
          <td class="center">
            <%= builder.hidden_field :_destroy %>
            <%= link_to_function image_tag('action-delete.png', :alt=>'Eliminar') + " Eliminar", "remove_fields(this)" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="center">
        <%= link_to_add_fields image_tag('action-new.png', :alt=>' Agregar') +" Agregar", f, :transactions %>
      </td>
    </tfoot>
  </table>
</div>
<br/>
<% end %>