<% title "Tickets" %>
<% i = 0 %>
<div id="searchform">
<%= form_tag tickets_path, :method => 'get' do %>
  <%= render :partial=>'search_form' %>
<% end %>
</div>
<% if @tickets.length > 0 %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Número<span class="order_arrow"></th>
        <th>Fecha<span class="order_arrow"></th>
        <th>Tipo<span class="order_arrow"></th>
        <th>Chofer<span class="order_arrow"></th>
        <th>Origen/Destino<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket_id, transactions| %>
      <% class_row, i = alternate_row_class(i) %>
      <% ft = transactions.first %>
      <tr class="<%= class_row %>">
        <td><%=h ft[:ticket_number] %></td>
        <td><%=h ft[:ticket_incoming_date].strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td><%=h ft[:ticket_type] %></td>
        <td><%=h ft[:driver_name] %></td>
        <td><%=h ft[:client_name] %></td>
        <td>
          <% logger.debug ft[:ticket_open] %>
          <% if ft[:ticket_open] %>
            <%= render_action_delete(ticket_path(ticket_id), "Desea borrar el ticket '#{ft[:ticket_number]}'?") %>
          <% else %>
            <%= render_action_repair(repair_ticket_path(ticket_id)) %> <br />
            <% if !ft[:ticket_notified] %>
            <%= render_action_notify_confirm(notify_ticket_path(ticket_id), "Desea notificar el ticket '#{ft[:ticket_number]}'?") %> <br />
            <% end %>
            <%= render_action_print(print_ticket_path(ticket_id)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%= will_paginate @paginated_transactions %>
  </div>
</div>
<% else %>
<p>No hay tickets abiertos registrados</p>
<% end %>
