<% title "Tickets" %>
<% i = 0 %>
<div id="searchform">
<%= form_tag tickets_path, :method => 'get' do %>
  <%= render :partial=>'search_form' %>
<% end %>
</div>
<% if @tickets.any? %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Número<span class="order_arrow"></th>
        <th>Fecha<span class="order_arrow"></th>
        <th>Tipo<span class="order_arrow"></th>
        <th>Chofer<span class="order_arrow"></th>
        <th>Origen/Destino<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @tickets.each do |t| %>
    <% tt = Transaction.find_by(ticket_id: t[:ticket_id]) %>
    <% if tt.nil? or (tt.warehouse_id.nil? && @warehouse) %>
      <% sin_t = true %>
    <% else %>
      <% sin_t = false %>
    <% end %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td class="center"><%=h t[:ticket_number] %>
        <% if @granted_diff_authorized && t[:diff_authorized] == 1 && t[:ticket_open] %>
          <%= render_action_authorize(authorize_ticket_path(t[:ticket_id]), "Desea Autorizar salida del ticket #{t[:ticket_number]}?") %> <br />
        <% end %>
        </td>
        <td class="center"><%=h t[:ticket_incoming_date].strftime("%d/%m/%Y %H:%M:%S") %> </td>
        <td><%=h t[:ticket_type] %></td>
        <td><%=h t[:driver_name] %></td>
        <td><%=h t[:client_name] %></td>
        <td>
          <% if t[:ticket_open] %>
            <%= render_action_delete(ticket_path(t[:ticket_id]), "Desea borrar el ticket '#{t[:ticket_number]}'?") %><br />
            <% if @mango_romano %>
              <% if sin_t %>
                <%= render_action_items_ticket(items_ticket_path(t[:ticket_id])) %>
              <% else %>
                <%= render_action_edit_ticket(edit_ticket_path(t[:ticket_id])) %>
                <%= render_action_close_ticket(close_ticket_path(t[:ticket_id])) %>
              <% end %>
            <% end %>
          <% else %>
            <%= render_action_repair(repair_ticket_path(t[:ticket_id])) %> <br />
            <% if !t[:ticket_notified] %>
            <%= render_action_notify_confirm(notify_ticket_path(t[:ticket_id]), "¿Desea notificar el ticket #{t[:ticket_number]}?") %> <br />
            <% end %>
            <%= render_action_print(print_ticket_path(t[:ticket_id])) %>
          <% end %>
        </td>
      </tr>
      <% unless t[:ticket_open] %>
        <tr class="<%= class_row %> tr_header">
          <th colspan="3">Rubro</th>
          <th>Lote</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
        <% t.index_transactions.each do |tr| %>
          <tr class="<%= class_row %> tr_row">
            <td class="center" colspan="3"><%= tr[:content_name] %></td>
            <td class="center"><%= tr[:lot_code] %></td>
            <td class="center"><%= tr[:transaction_amount] %></td>
            <td></td>
          </tr>
        <% end %>
      <% else %>
        <% unless t[:ticket_incoming_weight].nil? %>
          <tr class="<%= class_row %> tr_header">
            <th class="center" colspan="3">Peso de entrada</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="<%= class_row %> tr_row">
          <td class="center" colspan="3"><%= t[:ticket_incoming_weight] %></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        <% end %>
      <% end %>
      <tr><td></td></tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%= will_paginate @tickets %>
  </div>
</div>
<% else %>
<p>No hay tickets abiertos registrados</p>
<% end %>
