<% title "Nuevo ticket" %>
<%= form_for :ticket, :url=>tickets_path, :html=>{:id=>'ticket_new_form'} do |f| %>
<%= render_error_messages(f.error_messages) %>

<label for="ticket_type_id" class="small">Tipo de ticket:</label>
<%= f.radio_button :ticket_type_id, 1, :checked=>true %> Recepción <%= f.radio_button :ticket_type_id, 2 %> Despacho
<br/>

<% if is_mango_feature_available("sap_romano")%>
</td>
<div id= "orders">
  <label id = "order_type" class="small">Orden de compra</label>
  <div id="id_order" class="field"><%= f.collection_select :id_order, @rorders, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %><span>*</span>
  </div>
</div>
<% end %>

<label for="driver_id" class="small">Chofer:</label>
<div class="field"><%= f.collection_select :driver_id, @drivers, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span>
<%= submit_tag "Nuevo", {:type => "button", :id => "new_driver"} %><br/> </div>

<div id="new_driver_form" style="display:none;">

  <div id="new_driver_grid">
    <div class="clearfix"></div>
    <h5>Nuevo Chofer</h5>
    <table id="tabledata">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Frecuente</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="center"><input id="drivername" size="60" type="text" /> <span>*</span></td>
            <td class="center"><input id="driverci" size="15" type="text" /> <span>*</span></td>
            <td class="center"><input type="checkbox" id="frequent_driver"></td>
          </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td><%= submit_tag "Crear Chofer", {:type => "button", :id => "create_driver"} %></td>
      </tfoot>
    </table>
  </div>
  <br/>

</div>

<label for="truck_id" class="small">Camión:</label>
<div class="field"><%= f.collection_select :truck_id, @trucks, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span>
<%= submit_tag "Nuevo", {:type => "button", :id => "new_truck"} %><br/> </div>

<div id="new_truck_form">

  <div id="new_truck_grid">
    <div class="clearfix"></div>
    <h5>Nuevo Camión</h5>
    <table id="tabledata">
      <thead>
        <tr>
          <th>Transporte</th>
          <th>Placa</th>
          <th>Frecuente</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="center">
              <%= select_tag :carrier_id, options_from_collection_for_select(@carriers, :id, :name), prompt: "Seleccione una opción", class: 'chosen-select chzn-field-normal'%> <span>*</span>
              <%= submit_tag "Nuevo", {:type => "button", :id => "new_carrier"} %>
            </td>
            <td class="center"><input id="truckplate" size="15" type="text" /> <span>*</span></td>
            <td class="center"><input type="checkbox" id="frequent_truck"></td>
          </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td><%= submit_tag "Crear Camión", {:type => "button", :id => "create_truck"} %></td>
      </tfoot>
    </table>
  </div>
  <br/>


  <div id="new_carrier_form" style="display:none;">

    <div id="new_truck_grid">
      <div class="clearfix"></div>
      <h5>Nuevo Transporte</h5>
      <table id="tabledata">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Rif</th>
            <th>Frecuente</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="center"><input id="carriername" size="60" type="text" /> <span>*</span></td>
              <td class="center"><input id="carrierrif" size="15" type="text" /></td>
              <td class="center"><input type="checkbox" id="frequent_carrier"></td>
            </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td></td>
          <td><%= submit_tag "Crear Transporte", {:type => "button", :id => "create_carrier"} %></td>
        </tfoot>
      </table>
    </div>
    <br/>

  </div>

</div>

<div id = onlyreception>
  <label for="provider_weight" class="small">Peso Proveedor:</label>
  <div class="field"><%= f.text_field :provider_weight, :size=>'20' %><span>*</span></div>
  <label for="provider_document_number" class="small">N# documento:</label>
<div class="field"><%= f.text_field :provider_document_number, :size=>'20' %><span>*</span></div>
</div>

<label for="comment" class="small">Comentario:</label>
<div class="field"><%= f.text_area :comment, :size=>'85x3' %></div>

<label for="outgoing_weight" class="small">Peso de entrada:</label>
<div id = "outweight" class="field"><%= f.text_field :incoming_weight, :size=>'20', class: 'chzn-field-big'%><span>*</span>
<%= submit_tag "Capturar", {:type => "button", :id => "boton_capturar"} %><br/>

<% if @granted_manual %>
  <%= f.check_box :manual_incoming, :checked=>false %> &nbsp;
  <label for="group">Pesaje Manual</label>
<% end %>
</div>

<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>

<% end %>


