<% title "Nuevo ticket" %>
<%= form_for :ticket, :url=>tickets_path, :html=>{:id=>'ticket_new_form'} do |f| %>
<%= render_error_messages(f.error_messages) %>

<label>Seleccionar desde orden de Compra/Venta</label>
<input type=checkbox id="orden" %> &nbsp;
<br/>

<label for="ticket_type_id" class="small">Tipo de ticket:</label>
<%= f.radio_button :ticket_type_id, 1, :checked=>true %> Recepción <%= f.radio_button :ticket_type_id, 2 %> Despacho
<br/>

</td>
<div class="field"><%= f.collection_select :id_order, :ticket_type_id == 1 ? @order : @salesorder, :id, :to_collection_select, {}, class: 'chosen-select chzn-field-normal' %><span>*</span></div>
<br/>
<%binding.pry%>
</td>
<div id= "purord">
<label for="code" class="small">Orden de compra:</label>
<div  class="field"><%= f.collection_select :id_order, @purchasesorder, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>
</div>

<div id= "salord">
<label for="code" class="small">Orden de venta:</label>
<div class="field"><%= f.collection_select :id_order, @salesorder, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>
</div>

<label for="client_id" class="small">Cliente/Proveedor:</label>
<div class="field"><%= f.collection_select :client_id, @clients, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>
<label for="driver_id" class="small">Chofer:</label>
<div class="field"><%= f.collection_select :driver_id, @drivers, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>
<label for="truck_id" class="small">Camión:</label>
<div class="field"><%= f.collection_select :truck_id, @trucks, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>

<label for="incoming_weight" class="small">Peso de entrada:</label>
<div class="field"><%= f.text_field :incoming_weight, :size=>'20' %><span>*</span></div>


  <label for="provider_weight" class="small">Peso Proveedor:</label>
  <div class="field"><%= f.text_field :provider_weight, :size=>'20' %><span>*</span></div>
  <label for="provider_document_number" class="small">N# documento SADA:</label>
  <div class="field"><%= f.text_field :provider_document_number, :size=>'20' %><span>*</span></div>

<label for="address" class="small">Direccion:</label>
<div class="field"><%= f.text_field :address, :size=>'90' %><span>*</span></div>
<label for="comment" class="small">Comentario;</label>
<div class="field"><%= f.text_area :comment, :size=>'85x3' %></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>

<% end %>