<% title "Nuevo ticket" %>
<%= form_for :ticket, :url=>tickets_path, :html=>{:id=>'ticket_new_form'} do |f| %>
<%= render_error_messages(f.error_messages) %>

<label for="ticket_type_id" class="small">Tipo de ticket:</label>
<%= f.radio_button :ticket_type_id, 1, :checked=>true %> Recepción <%= f.radio_button :ticket_type_id, 2 %> Despacho
<br/>

<% if is_mango_feature_available("sap_romano")%>
</td>
<div id= "orders">
  <label id = "order_type" class="small">Orden de compra</label>
  <div id="id_order" class="field"><%= f.collection_select :id_order, @rorders, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %><span>*</span>
  </div>
</div>
<% end %>

<label for="driver_id" class="small">Chofer:</label>
<div class="field"><%= f.collection_select :driver_id, @drivers, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span>
<%= submit_tag "Nuevo", {:type => "button", :id => "new_driver"} %><br/> </div>

<div id="new_driver_form" style="display:none;">
<label class="small">Nombre:</label>
<div class="field" > <input id="drivername" size="30" type="text" /><span>*</span></div>
<label class="small">Cedula:</label>
<div class="field" > <input id="driverci" size="15" type="text" /><span>*</span></div>
<label class="small">Frecuente:</label>
<div class="field"><input type="checkbox" id="frequent_driver"></div>
<label class="small"></label>
<div class="field"><%= submit_tag "Cancelar", {:type => "button", :id => "cancel_driver"} %>  </div>
<div class="field"><%= submit_tag "Crear Chofer", {:type => "button", :id => "create_driver"} %></div>
</div>

<label for="truck_id" class="small">Camión:</label>
<div class="field"><%= f.collection_select :truck_id, @trucks, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span>
<%= submit_tag "Nuevo", {:type => "button", :id => "new_truck"} %><br/> </div>

<div id="new_truck_form">
    <label class="small">Placa:</label>
    <div class="field" > <input id="truckplate" size="15" type="text" /><span>*</span></div>
    <label class="small">Transporte:</label>
    <div class="field"><%= select_tag :carrier_id, options_from_collection_for_select(@carriers, :id, :name), prompt: "Seleccione una opción", class: 'chosen-select chzn-field-normal'%><span>*</span></div>
    <label class="small">Frecuente:</label>
    <div class="field"><input type="checkbox" id="frequent_truck"></div>
    <label class="small"></label>
    <div class="field"><%= submit_tag "Cancelar", {:type => "button", :id => "cancel_truck"} %>  </div>
    <div class="field"><%= submit_tag "Crear Camion", {:type => "button", :id => "create_truck"} %></div>
</div>

<label for="client_id" class="small">Cliente/Proveedor:</label>
<div id="id_client" class="field"><%= f.collection_select :client_id, @clients, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %> <span>*</span></div>

<label for="address" class="small">Direccion:</label>
<div class="field"><%= f.text_field :address, :size=>'90' %><span>*</span></div>

<div id = onlyreception>
  <label for="provider_weight" class="small">Peso Proveedor:</label>
  <div class="field"><%= f.text_field :provider_weight, :size=>'20' %><span>*</span></div>
  <label for="provider_document_number" class="small">N# documento:</label>
  <div class="field"><%= f.text_field :provider_document_number, :size=>'20' %><span>*</span></div>
</div>

<label for="comment" class="small">Comentario:</label>
<div class="field"><%= f.text_area :comment, :size=>'85x3' %></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>

<% end %>


