<%= render_error_messages(f.error_messages) %>
<label for="code" class="small">Código:</label>
<div class="field"><%= f.text_field :code, :size=>'15' %> <span>*</span></div>
<label for="date" class="small">Fecha:</label>
<div class="field"><%= f.date_select :date, :size=>'10' %> <span>*</span></div>
<label for="ingredient_id" class="small">Ingrediente:</label>
<div class="field"><%= f.collection_select :ingredient_id, @ingredients, :id, :name, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<label for="client_id" class="small">Propietario:</label>
<div class="field"><%= f.collection_select :client_id, @factories, :id, :name, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %></div>
<label for="active" class="small">Activo:</label>
<div class="field"><%= f.check_box :active %></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
