<% title "Transacciones" %>
<% i = 0 %>
<% if @transactions.any? %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Fecha y hora<span class="order_arrow"></span></th>
        <th>Usuario<span class="order_arrow"></span></th>
        <th>Lote<span class="order_arrow"></span></th>
        <th>Tipo<span class="order_arrow"></span></th>
        <th>Cantidad<span class="order_arrow"></span></th>
        <th>Existencia<span class="order_arrow"></span></th>
        <th>Nro. Doc.<span class="order_arrow"></span></th>
      </tr>
    </thead>
    <tbody>
    <% @transactions.each do |t| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td class="center"><%=h t.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td class="center"><%=h t.user.login %></td>
        <td><%=h t.get_lot.to_collection_select %></td>
        <td class="center"><%=h t.transaction_type.code %></td>
        <td class="right"><%=h t.amount %></td>
        <td class="right"><%=h t.stock_after %></td>
        <td class="center"><%=h t.document_number %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @transactions %>
  </div>
</div>
<% else %>
<p>No hay transacciones registradas</p>
<% end %>
