<% i = 0 %>
<div id="product_lot_parameters_grid">
  <table id="tabledata">
    <thead>
      <tr>
        <th>Característica<span class="order_arrow"></span></th>
        <th>Valor<span class="order_arrow"></span></th>
        <th>Nuevo valor<span class="order_arrow"></span></th>
        <th class="actions_medium">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @product_lot_parameter_list.product_lot_parameters.each do |p| %>
        <% class_row, i = alternate_row_class(i) %>
        <tr class="<%= class_row %>">
          <%= form_for :product_lot_parameter, :url=>product_lot_parameter_list_product_lot_parameter_path(@product_lot_parameter_list, p), :html=>{:method=>:put, :id=>'product_lot_parameter_edit_form_' + p.id.to_s} do |f| %>
            <td>
              <%=h p.product_lot_parameter_type.name %>
            </td>
            <td class="center"><%=h p.value %></td>
            <td class="center"><%= f.text_field :value, :size=>4 %></td>
            <td><%= submit_tag 'Actualizar' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
