<%= render_error_messages(f.error_messages) %>
<label for="code" class="small">Código:</label>
<div class="field"><%= f.text_field :code, :size=>'20' %> <span>*</span></div>
<br /><br />
<label for="name" class="small">Nombre:</label>
<div class="field"><%= f.text_field :name, :size=>'20' %> <span>*</span></div>
<br /><br />

<div id="warehousecontent">
<% if @warehouse_types.content_type == true %>
  <label for="ingredient" class="small">lote Materia Prima:</label>
  <div class="field"><%= f.collection_select :lot_id, @lots, :id, :to_collection_select, :class=>'chosen-select chzn-field-normal' %> <span>*</span></div>
<% else %>
  <label for="product" class="small">Lote Producto:</label>
  <div class="field"><%= f.collection_select :product_lot_id, @product_lots, :id, :to_collection_select, :class=>'chosen-select chzn-field-normal' %> <span>*</span></div>
<% end %>
<br /><br />
</div>

<label for="size" class="small">Capacidad (Kg):</label>
<div class="field"><%= f.text_field :size, :size=>'20' %> </div><br />

<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>


