<tr>
  <td>
  <%= f.hidden_field :content_type, :value => @warehouse.content_type %>
  <%= f.collection_select :content_id, @warehouse.content_type ? @lots : @product_lots, :id, :to_collection_select, {:include_blank => true}, class: 'chosen-select chzn-field-normal' %><br /></td>
  <td class="center"><%= f.text_field :stock, size: 10, class: 'amount_field' %></td>
  <td class="center">
    <%= f.hidden_field :_destroy %><%= link_to_function image_tag('action-delete.png', :alt=>'Eliminar') + " Eliminar", "remove_fields_sacks(this)" %>
  </td>
</tr>

