<html>
<head>
  <meta charset="utf-8"> 
  <script type="text/javascript">
    <%= raw Mango::Application.assets.find_asset('jquery.min.js').body %>
    <%= raw Mango::Application.assets.find_asset('jquery.flot.min.js').body %>
    <%= raw Mango::Application.assets.find_asset('jquery.flot.categories.min.js').body %>
    <%= raw Mango::Application.assets.find_asset('jquery.flot.symbol.min.js').body %>
    <%= raw Mango::Application.assets.find_asset('jquery.flot.time.min.js').body %>
    <%= raw Mango::Application.assets.find_asset('jquery.flot.axislabels.js').body %>
  </script>
</head>
<body style="margin: 0; padding: 0; font-family: sans-serif">
  <%= yield %>
</body>
</html>
